@model ModelesApi.POC.Horaire


    <tr>
        @Html.HiddenFor(model => model.Id, new { @id = "HoraireId" })
        @Html.ValidationSummary(false, "", new { @class = "text-danger", @id = "validation-summary" })
            
        <td>
            @Html.DropDownListFor(model => model.Jour, new SelectList(new JoursSemaine().lJours), "Sélectionnez le jour", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Jour, "", new { @class = "text-danger" })
        </td>

        <td>
            @Html.EditorFor(model => model.HeureOuverture, "{0:hh\\:mm}", new { htmlAttributes = new { @class = "form-control", id = "timePicker" } })
            @Html.ValidationMessageFor(model => model.HeureOuverture, "", new { @class = "text-danger" })
        </td>

        <td>
            @Html.EditorFor(model => model.HeureFermeture, "{0:hh\\:mm}", new { htmlAttributes = new { @class = "form-control", id = "timePicker" } })
            @Html.ValidationMessageFor(model => model.HeureFermeture, "", new { @class = "text-danger" })
        </td>

    </tr>



