
@model CoronaOutWeb.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Accueil";
}
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

</head>

@Html.Hidden("Title", "CoronaOut!!!")
@Html.Hidden("Decription", "Let's get all the open bars !!")
@Html.Hidden("Image", "http://localhost:5000/img/site/ny.jpg")
@Html.HiddenFor(model => model.MapBox)
@Html.HiddenFor(model => model.isLogged)
<h1>Etablissements dans notre registre</h1>
<br />
@if (Model.isLogged)
{
    <h4>Uniquement les établissements ouverts sont représentés</h4>
}
else
{
    <h4>Connectez-vous pour voir les établissements ouverts en ce moment</h4>
}
<br />
<br />

<div id="mapid"></div>

@if (Model.isLogged)
{
    <div class="col-md-12">
        <img src="/img/Markers/markerVert.png" id="img-thumb" />
        &emsp;
        <div class="custom-control-label">L'établissement est ouvert</div>
    </div>

    <div class="col-md-12">
        <img src="/img/Markers/markerOrange.png" id="img-thumb" />
        &emsp;
        <div class="custom-control-label">L'établissement ferme dans les 15 prochaines minutes</div>
    </div>

    <div class="form-row" id="sharebuttons">
        <div>
            <div id="fb-root"></div>
            <div class="fb-share-button"
                 data-href=""
                 data-layout="button_count">
            </div>
        </div>

        <div>
            <div id="twitter-wjs"></div>
            <div id="tweet"></div>
        </div>

        <div>
            <script type="IN/Share" id="linkedinButton" data-url="">
            </script>
        </div>
    </div>

}


@section Scripts{
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script src="~/js/ReseauxSociaux.js"></script>
    <script src="~/js/Map.js"></script>
    <script src="~/js/PopUp.js"></script>
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: fr</script>
}

