<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Corona Out</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MonDesign.css" />
    <link href="~/css/toastr.css" rel="stylesheet" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Corona Out</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @Html.ActionLink("Accueil", "Index", "Home", null, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Etablissements
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Liste complète", "ListeEtablissements", "Etablissements", null, new { @class = "nav-link text-dark" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Fiche Individuelle", "Fiche", "Etablissements", null, new { @class = "nav-link text-dark" })
                            </div>
                        </li>

                        @if (User.Claims.Any(x => x.Type.ToString() == "role" && (x.Value == "Administrateur" || x.Value == "Gestionnaire")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administration
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (User.Claims.Any(x => x.Value == "Gestionnaire" && x.Type.ToString() == "role"))
                                    {
                                        @Html.ActionLink("Ajouter un établissement", "Create", "AdministrationEtablissement", null, new { @class = "nav-link text-dark" })
                                        <div class="dropdown-divider"></div>
                                        @Html.ActionLink("Gérer ses établissements", "ListeEtablissementOwned", "AdministrationEtablissement", null, new { @class = "nav-link text-dark" })
                                    }

                                    @if (User.Claims.Any(x => x.Value == "Administrateur" && x.Type.ToString() == "role"))
                                    {
                                        @Html.ActionLink("Gérer les établissements", "ListeEtablissementOwned", "AdministrationEtablissement", null, new { @class = "nav-link text-dark" })
                                        <div class="dropdown-divider"></div>
                                        @Html.ActionLink("Utilisateurs", "Index", "AdministrationUser", null, new { @class = "nav-link text-dark" })
                                    }
                                </div>
                            </li>
                        }



                        @if (User?.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Claims.FirstOrDefault(x => x.Type.ToString().Equals("name")).Value
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @Html.ActionLink("Mon compte", "moncompte", "account", null, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Se déconnecter", "logout", "account", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ml-auto">
                                @Html.ActionLink("S'identifier", "login", "account", null, new { @class = "nav-link text-dark" })
                            </li>
                            <li class="nav-item ">
                                @Html.ActionLink("S'enregistrer", "register", "account", null, new { @class = "nav-link text-dark" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CoronaOutWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
