@model IdentityServer.ViewModel.MonCompteViewModel
@{
    ViewData["Title"] = "MonCompte";
}

<h1>Mon compte</h1>

@using (Html.BeginForm(FormMethod.Post, new { @class = "row" }))
{
    <br/>
    <br/>

        @Html.HiddenFor(model => model.ReturnUrl)

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <br />

            <div class="form-row">
                @Html.LabelFor(model => model.User.Nom, new { @class = "control-label col-md-6" })
                @Html.Label("", Model.User.Nom, new { @class = "col-md-6" })
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.User.Prenom, new { @class = "control-label col-md-6" })
                @Html.Label("",Model.User.Prenom, new { @class = "col-md-6" })

            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.User.Sexe, new { @class = "control-label col-md-6" })
                @Html.Label("", Model.User.Sexe, new { @class = "col-md-6" })
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.User.PhoneNumber, "Numéro de téléphone", new { @class = "control-label col-md-6" })
                @Html.Label("",Model.User.PhoneNumber, new { @class = "col-md-6" })
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.User.DateNaissance, "Date de naissance", new { @class = "control-label col-md-6" })
                @Html.Label("", Model.User.DateNaissance.ToString("dd/MM/yyyy"), new { @class = "col-md-6" })
            </div>

            <div class="form-row">
                @Html.EditorFor(model => model.User.estProfessionel, new { @class = "control-label col-md-1", @readonly = "readonly" })
                @Html.Label("", "Gestionnaire d'établissements", new { @class = "col-md-11" })
            </div>


            <div class="form-row">
                <button type="submit" class="btn btn-primary" name="button" value="modifier">Modifier</button>

                <button type="submit" class="btn btn-danger" name="button" value="cancel">Retour</button>
            </div>

        }
