@model CoronaOutWeb.ViewModel.CreateNewsViewModel
@{
    ViewData["Title"] = "Créer une nouvelle news";
}

<h1>Créer une nouvelle news</h1>

@using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form" }))
{
    @Html.HiddenFor(model => model.TailleMaxImages, new { @id = "tailleMaxImage", @value = Model.TailleMaxImages })
    @Html.HiddenFor(model => model.news.Id, new { @id = "etabId" })

    @Html.ValidationSummary(false, "", new { @class = "text-danger", @id = "validation-summary" })

    <!--Titre-->
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.news.Titre, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.news.Titre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.news.Titre, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--Zone de texte-->
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.news.Message, "Corps de la news", new { @class = "control-label", @Wrap = "hard", @rows = "20" })
            @Html.TextAreaFor(model => model.news.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.news.Message, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--Image-->
    <div class="col-md-12">
        @Html.Label("", "Image", new { @class = "control-label" })
        <div class="custom-file" id="logo-container">
            <input asp-for="image" type="file" id="logo-input" accept="image/*" onchange="handleLogo(this.files)" class="form-control custom-file-input" />
            <label id="logo-label" class="custom-file-label">Sélectionner l'image</label>
        </div>
    </div>

    <!--Image Preview-->
    <div class="col-md-12">
        <div id="logoPreview"></div>
    </div>

    <br />
    <br />

    <div class="col-md-12">
        <button style="width:auto" type="submit" name="button" value="create" class="btn btn-primary">Créer la news</button>
        @Html.ActionLink("Retour", "ListeNews", "AdministrationNews", "", new { @class = "btn btn-danger" })
    </div>

}

@section Scripts{
    <script src="~/js/toastr.js"></script>
    <script src="~/js/UploadFiles.js"></script>
}
