@model CoronaOutWeb.ViewModel.MonEtablissementViewModel
@{
    ViewData["Title"] = "Créer un nouvel établissement";
}

<h1>Créer un nouvel établissement</h1>


@using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form" }))
{
    @Html.HiddenFor(model => model.NombrePhotos, new { @id = "nbPhotos", @value = Model.NombrePhotos })
    @Html.HiddenFor(model => model.TailleMaxImages, new { @id = "tailleMaxImage", @value = Model.TailleMaxImages })

    @Html.ValidationSummary(false, "", new { @class = "text-danger", @id = "validation-summary" })


    <div class="col-md-12 row">
        <!--Nom-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.Nom, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.Nom, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.Nom, "", new { @class = "text-danger" })
        </div>

        <!--Prenom-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.Type, "Type d'établissement", new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Etab.Type, new SelectList(Model.lTypeEtablissement), "Sélectionnez le type d'établissement", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.Type, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="col-md-12 row">
        <!--Tva-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.NumeroTva, "Numéro de TVA", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.NumeroTva, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.NumeroTva, "", new { @class = "text-danger" })
        </div>
        <!--Tel-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.NumeroTelephone, "Numéro de Téléphone", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.NumeroTelephone, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.NumeroTelephone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12 row">
        <!--Rue-->
        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.Etab.Rue, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.Rue, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.Rue, "", new { @class = "text-danger" })
        </div>

        <!--Numéro-->
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Etab.NumeroBoite, "Numéro/Boîte", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.NumeroBoite, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.NumeroBoite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12 row">
        <!--CodePostal-->
        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.Etab.CodePostal, "Code Postal", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.CodePostal, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.CodePostal, "", new { @class = "text-danger" })
        </div>

        <!--Ville-->
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.Etab.Ville, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.Ville, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.Ville, "", new { @class = "text-danger" })
        </div>

        <!--Pays-->
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.Etab.Pays, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Etab.Pays, new SelectList(Model.lPays), "Sélectionnez votre pays", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.Pays, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12 row">
        <!--Email Pro-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.AdresseEmailPro, "Adresse mail professionnelle (obligatoire)", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.AdresseEmailPro, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.AdresseEmailPro, "", new { @class = "text-danger" })
        </div>

        <!--Email Etabl-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.AdresseEmailEtablissement, "Adresse mail de l'établissement (optionnelle)", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.AdresseEmailEtablissement, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.AdresseEmailEtablissement, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12 row">
        <!--Web-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.AdresseSiteWeb, "Site Web", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.AdresseSiteWeb, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.AdresseSiteWeb, "", new { @class = "text-danger" })
        </div>

        <!--Insta-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.AdresseInstagram, "Instagram", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.AdresseInstagram, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.AdresseInstagram, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12 row">
        <!--Facebook-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.AdresseFacebook, "Facebook", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.AdresseFacebook, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.AdresseFacebook, "", new { @class = "text-danger" })
        </div>

        <!--Linkedin-->
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Etab.AdresseLinkedin, "Linkedin", new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etab.AdresseLinkedin, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.AdresseLinkedin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12 row">
        <!--Photos-->
        <div class="form-group col-md-6">
            @Html.Label("", "Photos de l'établissment", new { @class = "control-label" })
            <br />
            @for (int i = 0; i < Model.NombrePhotos; i++)
            {
                <div class="custom-file" id="photo-@i">
                    <input asp-for="@Model.Photos[i]" type="file" id="photo-input-@i" accept="image/*" onchange="handlePhotos(this.files,@i)" class="form-control custom-file-input" />
                    <label id="photo-label-@i" class="custom-file-label">Sélectionner l'image</label>
                    <br />
                </div>
            }
        </div>

        <div class="form-group col-md-6">
            <!--Logos-->
            @Html.Label("", "Logo de l'établissment", new { @class = "control-label" })
            <div class="custom-file">
                <input asp-for="Logo" type="file" id="logo-input" accept="image/*" onchange="handleLogo(this.files)" class="form-control custom-file-input" />
                <label id="logo-label" class="custom-file-label">Sélectionner l'image</label>
            </div>
        </div>
    </div>


    <div class="col-md-12 row">
        <!--Photos Preview-->
        <div class="form-group col-md-6">
            <div id="PhotosPreview">
            </div>
        </div>

        <!--Logos Preview-->
        <div class="form-group col-md-6">
            <div id="logoPreview">
            </div>
        </div>
    </div>


    <!--Horaires-->
    <div class="col-md-12">
        @Html.Label("", "Horaire de l'établissement", new { @class = "control-label" })
        <table id="tab-horaires" class="table table-striped col-md-12">
            <tr id="titre">
                <th>Jour</th>
                <th>Heure d'ouverture</th>
                <th>Heure de fermeture</th>
                <th>Supprimer</th>
            </tr>
            <tbody id="horaire-container">
                @foreach (Horaire horaire in Model.Etab.lHoraire)
                {
                    @await Html.PartialAsync("~/Views/Shared/EditorTemplates/Horaire.cshtml", horaire);
                }
            </tbody>

        </table>
        <br />
        <input class="btn btn-success" type="button" id="addHoraire" value="Ajouter un horaire" />
        <br />
    </div>

    <br />

    <div class="col-md-12">
        <!--Zone de texte-->
        <div class="form-group">
            @Html.LabelFor(model => model.Etab.ZoneTexteLibre, "Zone de texte libre", new { @class = "control-label", @Wrap = "hard", @rows = "20" })
            @Html.TextAreaFor(model => model.Etab.ZoneTexteLibre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Etab.ZoneTexteLibre, "", new { @class = "text-danger" })
        </div>
    </div>

    <button style="width:auto" type="submit" name="button" value="create" class="btn btn-primary">Créer l'établissement</button>
    <button style="width:auto" type="submit" name="button" value="back" class="btn btn-danger">Retour</button>

}



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/toastr.js"></script>
    <script src="~/js/RemplissageFormulaire.js"></script>
    <script src="~/js/UploadFiles.js"></script>
    <script src="~/js/AddHoraire.js"></script>
}

